* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    
}


input {
	font: 1.1rem / 1.1 Inter, sans-serif;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
}

#get-btn {display: none;}
#media-btn, #next-btn {
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
}
#tg-btn {
    background-color: steelblue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}

.post-img {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    text-align: center;
    color: slategray;
    margin-bottom: 10px;
}
button {
    cursor: pointer;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/*timeline.html*/
.post {
    width: 340px;
    margin: 20px auto;
    text-align: center;
}
video {
    width: 100%;
    height: auto;
}
.caption {
    font-size: 14px;
    color: #333;
    text-align: justify;
    margin-bottom: 10px;
}

/* grid.html */
.grid {max-width: 500px;margin: 0 auto;}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.user:hover {
    background-color: #f0f0f0;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font: 1.1rem/1.4 Inter, sans-serif;
    cursor: pointer;
    color: #262626;
}

.fullname {
    font: 1rem/1.1 Inter, sans-serif;
    color: #8e8e8e;
}

/* profile.html */
.profile {
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 600px;
    padding: 10px;
}
.profile-pic-hd {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 0.4rem;
    height: auto;
}

.profile-info {    
    display: flex;
    flex-direction: column;
    text-align: center
}

.profile-info .username {
    font-weight: bold;
}

.profile-info .fullname {
    color: #666;
    margin-bottom: 8px;
}
